<div class="container mt-1">
  <form action="">
    <div class="form-group">
      <label for="nomeInput">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nomeInput"
        placeholder="Digite um nome"
        #nomeInput
      />
    </div>
    <button
      class="btn btn-primary btn-block"
      type="button"
      (click)="adicionar(nomeInput)"
    >
      Adicionar
    </button>
    <div class="alert alert-primary mt-3 p-3" [hidden]="!exibirCaixa">
      {{ nome }}
    </div>
  </form>
</div>

<!-- <p>Oi, meu nome é {{nome}} e tenho {{idade}} anos.</p>

<p>Lançamento de um dado: {{lancarDado()}}</p> -->
